@import "https://at.alicdn.com/t/font_1088813_vjzgb2lj13b.css";
*{
	padding: 0;
	margin: 0;
}
#app,html,body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif !important;
    text-rendering: optimizeLegibility;
}

img {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

html{
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif !important;
}


.markdown-body{
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif ,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif!important;
}
.scroll{
	&::-webkit-scrollbar {/*滚动条整体样式*/
		width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
		height: 1px;
	}
	&::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
		border-radius: 5px;
		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
		background: #535353;
	}
	&::-webkit-scrollbar-track {/*滚动条里面轨道*/
		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
		border-radius: 5px;
		background: #EDEDED;
	}
}
.vue-codemirror-wrap{
	height: 100%;
}
.CodeMirror{
	height: 100%!important;
	border-right: 1px solid #eee;
}
.CodeMirror-vscrollbar,.CodeMirror-scroll{
	&::-webkit-scrollbar {/*滚动条整体样式*/
		width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
		height: 1px;
	}
	&::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
		border-radius: 5px;
		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
		background: #535353;
	}
	&::-webkit-scrollbar-track {/*滚动条里面轨道*/
		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
		border-radius: 5px;
		background: #EDEDED;
	}
}

.file-poptip{
	.ivu-poptip-body{
		padding: 0;
		padding-top: 1px!important;

	}
	.header-list-button{
		padding:5px 8px;
		height: 25px;
		line-height: 25px;
		border-bottom: 1px solid #eee;
		font-size: 14px;
		display: block;
		box-sizing: content-box;
		cursor: pointer;
		&:hover{
			background: #eee;
		}
	}
	.header-list-button{
		span{
			float: left;
		}
		strong{
			float: right;
			font-weight: normal;
			font-size: 12px;
			color: #ccc;
			padding-left: 15px;
		}
	}
}
.ivu-tabs{
	height: 100%;
	.ivu-tabs-bar{
		margin-bottom: 0!important;
	}
}

ul,li{
	list-style: none;
}
.md-body{
	ul,li{
		list-style: inherit!important;
	}
}


.back{
	padding-bottom: 30px;
	display: block;
}